<div class="currency-rate-container">
  <mat-chip-list *ngIf="(currency$ | async)?.date">
    <mat-chip color="warn" selected>
      Base Currency: {{(currency$ | async).base}}
    </mat-chip>
    <mat-chip color="accent" selected *ngIf="currencyForm.valid">
      {{ 1 | currency: (currency$ | async).base }} =
      {{ (currency$ | async).rates[currencyForm.value.convertionCurrency] | currency: currencyForm.value.convertionCurrency }}
    </mat-chip>
  </mat-chip-list>
</div>

<form [formGroup]="currencyForm">
  <div>
    <mat-form-field>
      <mat-label>Show prices in:</mat-label>
      <mat-select formControlName="convertionCurrency">
        <mat-option *ngFor="let symbol of currenciesList" [value]="symbol">
          {{ symbol }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Update every:</mat-label>
      <mat-select formControlName="updateInterval">
        <mat-option *ngFor="let interval of intervalsList" [value]="interval">
          {{ interval | timeInterval }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>

<div class="currency-container">
  <div *ngIf="(currency$ | async)?.date">
    <div>Last Successful Update:</div>
    <div>
      {{ updateTimestamp$ | async | date: "'on' dd.MM.yyyy 'at' HH:mm:ss" }}
    </div>
  </div>
</div>
