.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 220px;
}

.sidenav-list {
  margin: 0 1em;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-left: auto;
  .nav-link:not(:first-of-type) {
    margin-left: 1em;
  }
  .active-nav-link {
    color: white;
  }
}
